.library-wallpaper {
  display: block;
  position: relative;
  height: 56.2vw;
  width: 100%;
}
.library-wallpaper::after {
  content: "";
  background: url("https://images.pexels.com/photos/2507025/pexels-photo-2507025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    top center no-repeat #042a2b;
  background-size: contain;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.over-wallpaper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(4, 42, 43, 1) 0%,
    rgba(4, 42, 43, 0.2) 50%,
    rgba(4, 42, 43, 1) 100%
  );
}
.over-wallpaper > h1 {
  font-size: 6vw;
  text-shadow: 0.3vw 0.3vw 0 #042a2b;
  -webkit-text-stroke: 0.2vw #042a2b;
  /* color: #dff771; */
  /* color: transparent; */
  /* color: #fcfcfc; */
  /* transform: rotate(2deg); */
  /* opacity: .8; */
}
.movies-pagination {
  transform: translateY(-21vw);
}
.sortnfilter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  max-width: 90%;
  margin: 21px auto;
}
.filter-sort {
  width: 200px;
  max-width: 46%;
  margin: 0 2% 0 2%;
}
.ant-select-selection .ant-select-selection__rendered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-select-selection .ant-select-selection__rendered ul {
  height: 32px;
  padding: 0;
}
.ant-select-selection
  .ant-select-selection__rendered
  ul
  li.ant-select-selection__choice {
  max-height: 100%;
  line-height: 32px;
  font-size: 10px;
  margin: 0;
}
.ant-select-selection
  .ant-select-selection__rendered
  ul
  .ant-select-search--inline {
  max-height: 100%;
  line-height: 32px;
  margin: 0;
}
@media only screen and (max-width: 420px) {
}
/*
.ant-pagination-item, .ant-pagination-next, .ant-pagination-prev {
    border-color: #2E927C;
}
.ant-pagination-item-active {
    border-color: #DCF763;
}
.ant-pagination-item:hover, .ant-pagination-next:hover, .ant-pagination-prev:hover {
    border-color: #FAFAFA;
}*/
